body{
    /* background-image: url('https://i.imgur.com/QbwLw8q.jpg'); */
    background-color: rgb(0, 128, 83);
    background-attachment: fixed;
   background-size: cover;
}

#backgroundImagesInAppContainer{
 /* background-attachment: fixed; */

}

#profilePictureContainer{
 
  display: flex;
  justify-content: center;
  position:relative;
  
  /* top:60px; */
  /* width: 120px;
  height: 120px; */
}

#profilePictureContainerDiv{

  width: 80px;
  height: 80px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 6px white solid;
  margin-bottom: 10px;
  margin-top: 10px;

  box-shadow: 2px 2px 6px 1px rgb(40, 40, 40); 
}

#profilePicture{

  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
  margin-left: -20px;
  margin-top: 20px;
  transform:scale(1.5);

}

#EverythingContainerInAppContainer{
  position:absolute;
  top: 0px;
  height: 100%;
  /* width: 40px; */
  width: 100vw;
  /* border: red solid; */

}

#EverythingContainer{
  /* border: red solid; */
  background-color: rgb(255, 255, 255);
  height: 100vh;
  /* overflow:scroll; */
  border-radius: 60px;
  border-bottom-left-radius: 0px 0px;
  border-bottom-right-radius: 0px 0px;
  padding-top: 15px;
  display: flex;
 align-items: center;
  flex-direction: column;

  box-shadow: 2px 2px 5px 1px rgb(9, 9, 9); 
}
#imageBackgroundContainer{
  height: 100vh;
  /* background-color: red; */
  background-size: cover;
  background-position: 50% 0%;
}

.backgroundImage{
max-width: 100%;
max-height: 100%;
}


#iconsContainer{
  border: 2px rgb(211, 211, 211) solid;
  padding: 0px;
  border-radius: 10px;
  height: 140px;
  width: 85%;
  /* min-width: 90%; */
  margin: 0 50px 0 50px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* top: 60px; */
}

.actionButton{
  

  width: 80px;
  height: 80px;
  /* border-radius: 15px; */
  font-size: 20px;
  font-weight: bolder;
  margin-right: 15px;
  margin-left: 7px;
  border-radius: 10px;

  border: rgb(92, 92, 92) 3px solid;
  /* border-radius: 7px;  */
 
}

#actionButtonsContainer{
  /* border: tomato solid; */
  display: flex;
  overflow:scroll;
  justify-content: space-around;
  height:80px;
  width: 100%;
  flex-direction: column-reverse;
 
  flex-wrap:wrap;
  
}

#commentsContainer{
  border: 2px rgb(128, 127, 127) solid;
  border-radius: 10px;
  border-bottom-left-radius: 0px 0px;
  border-bottom-right-radius: 0px 0px;
  height: 100vh;
  padding: 15px 15px 15px 15px;
  margin-top: 20px;;
  width: 85%;
  overflow: scroll;
  border-bottom-color: rgba(255, 0, 0, 0);
  
}

.postContainer{
  /* border: grey solid; */
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgb(240, 240, 240);
}

.name{
  font-size: 18px;
  margin: 0 0 0 0;
  display: flex;
  justify-content: center;
}

#nameInput{
  height: 26px;
  border:2px rgb(233, 233, 233) solid;
  border-radius: 12px;
  margin-bottom: 10px;
  width: 100px;
  padding-left:5px;
 
}

.message{
 font-size: 30px;
 margin: 0 0 0 0;
 font-weight: bold;
}

#nameInputContainer{
  /* border: red solid; */
  width: 100%;
}

#inputTextContainer{
  width: 100%;
}

#inputText{
  /* border: red solid; */
  border:2px rgb(233, 233, 233) solid;
  border-radius: 12px;
  width: 90%;
  height: 50px;
  margin-bottom: 10px;
  padding-left: 5px;

}

#cancelAndPostButtonsContainer{
  display: flex;
justify-content: space-evenly;
 
}

#formContainer{
  display: flex;
  flex-direction: column;
  /* width: 300px; */
  height: 100%;
  /* align-items: center; */

}

#loadingGifContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: red solid; */
  height: 100%
}

#loadingGif{
  width: 60px;
  height: 60px;
}



#Text{
  background: #f0f0f0 url("https://cdn-icons-png.flaticon.com/512/3721/3721901.png");
  background-color:rgb(184, 248, 255);
  background-position: 5px 5px;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;

  color: rgb(0, 0, 0);
  

}



#Image{
  background: #f0f0f0 url("https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-image-512.png");
  background-position: 5px 5px;
  background-size: 38px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: lightcoral;
}

#Drawing{
  background: #f0f0f0 url("https://i.imgur.com/ulKPvsC.png");
  background-position: 5px 5px;
  background-size: 45px;
  background-repeat: no-repeat;
  background-position: center;
}

#nameSaysContainer{
  display: flex;
}

.says{
  margin: 0 0 0 0;
  display: flex;
  justify-content: center;
  margin-left: 6px;
  color:grey;
  margin-top: 2px;
}

#imagePostContainer{
  display: flex;
  flex-direction: column;
}

#nameContainerInImagePost{
  display: flex;
  justify-content: baseline;
}

#individualImage{
  border-radius: 4px;
  max-width: 300px;
  /* border: 1.5px rgb(128, 127, 127) solid; */
  
}

#nameAndDescriptionContainer{
  display: flex;
  flex-direction: column;
  max-width:70%;
  /* margin-left: 1px;
  margin-right: 1%; */
  /* border: red solid; */
}

#descriptionInput{
 border:2px rgb(233, 233, 233) solid;
 height: 46px;
 
 border-radius: 12px;
 margin-bottom: 10px;
 width: 200px;
 padding-left:5px;

}

#chooseFileAndPostButtonContainer{
  display: flex;
  justify-content: space-between;
  margin-left: 2%;
  margin-right: 5%;
  /* border: solid red; */
  /*  */
}

#chooseFileButton{
  /* border: red solid; */
}

#uploadImageButton{
  /* border: 2px rgb(225, 225, 225) solid; */
  border: none;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 2px;
  background-color: rgb(116, 180, 235);
  color: white;
  /* box-shadow: 2px 2px 5px 1px rgb(194, 194, 194); */
}

#inputFileLabel{
  /* border: red solid; */
  width: 30px;
}

#leaveAMessageText{
  font-weight: bold;
  font-size: 23px;
  color: rgb(85, 85, 85);
  margin-bottom: 8px;
}

#cancelButtonInImageContainer{
  display: flex;
  justify-content: right;
  margin-right: 2%;
}

#cancelButtonInImage{
  border-radius: 100%;
  border: none;
  background-color: rgb(255, 0, 0);
  color: white;
  padding: 4px 8px;
  position:absolute;
}
.messageInImage{
  font-size: 23px;
  margin: 0 0 0 0;
  font-weight: bold;
  margin-bottom: 8px;
}

#formContainerForImage{
  width:100%;
  /* border: red solid; */
}