body{
    background-image: url('https://i.imgur.com/QbwLw8q.jpg');
    background-color: purple;
    background-attachment: fixed;
   background-size: cover;
}

#backgroundImagesInAppContainer{
 /* background-attachment: fixed; */

}

#profilePictureContainer{
 
  display: flex;
  justify-content: center;
  position:relative;
  top:60px;
  /* width: 120px;
  height: 120px; */
}

#profilePictureContainerDiv{

  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 4px white solid;

}

#profilePicture{

  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
  margin-left: -20px;
  margin-top: 20px;
  transform:scale(1.5);

}

#EverythingContainerInAppContainer{
  position:absolute;
  top: 0px;
  height: 100%;
  /* width: 40px; */
  width: 100vw;
  /* border: red solid; */

}

#EverythingContainer{
  /* border: none; */
  background-color: rgb(255, 255, 255);
  height: 80vh;
  /* overflow:scroll; */
  border-radius: 60px;
  border-bottom-left-radius: 0px 0px;
  border-bottom-right-radius: 0px 0px;
  padding-top: 60px;
  display: flex;
 align-items: center;
  flex-direction: column;
}
#imageBackgroundContainer{
  height: 100vh;
  /* background-color: red; */
  background-size: cover;
  background-position: 50% 0%;
}

.backgroundImage{
max-width: 100%;
max-height: 100%;
}


#iconsContainer{
  border: 2px rgb(211, 211, 211) solid;
  padding: 5px;
  border-radius: 10px;
  height: 140px;
  width: 85%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* top: 60px; */
}

.actionButton{
  

  width: 80px;
  height: 80px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bolder;
  margin-right: 15px;
 
}

#actionButtonsContainer{
  /* border: tomato solid; */
  display: flex;
  overflow:scroll;
  justify-content: space-around;
  height:80px;
  width: 100%;
  flex-direction: column-reverse;
 
  flex-wrap:wrap;
  
}

#commentsContainer{
  border: rgb(216, 216, 216) solid;
  border-radius: 10px;
  border-bottom-left-radius: 0px 0px;
  border-bottom-right-radius: 0px 0px;
  height: 100vh;
  padding: 15px 15px 15px 15px;
  margin-top: 20px;;
  width: 85%;
  overflow: scroll;
  
}

.postContainer{
  /* border: grey solid; */
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: rgb(240, 240, 240);
}

.name{
  font-size: 18px;
  margin: 0 0 0 0;
  display: flex;
  justify-content: center;
}

#nameInput{
  height: 26px;
  border:2px rgb(233, 233, 233) solid;
  border-radius: 12px;
  margin-bottom: 10px;
  width: 100px;
  padding-left:5px;
 
}

.message{
 font-size: 30px;
 margin: 0 0 0 0;
 font-weight: bold;
}

#nameInputContainer{
  /* border: red solid; */
  width: 100%;
}

#inputTextContainer{
  width: 100%;
}

#inputText{
  /* border: red solid; */
  border:2px rgb(233, 233, 233) solid;
  border-radius: 12px;
  width: 90%;
  height: 50px;
  margin-bottom: 10px;
  padding-left: 5px;

}

#cancelAndPostButtonsContainer{
  display: flex;
justify-content: space-evenly;
 
}

#formContainer{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  /* align-items: center; */

}

#loadingGifContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: red solid; */
  height: 100%
}

#loadingGif{
  width: 60px;
  height: 60px;
}



#Text{
  /* background-image: linear-gradient(to right, rgb(141, 215, 255) , rgb(155, 255, 184)); */

  color: rgb(0, 0, 0);
  /* border-image: 
  linear-gradient(
    to right, 
    red, 
    #d32b2b
  ) 1 100%; */
}

#nameSaysContainer{
  display: flex;
}

.says{
  margin: 0 0 0 0;
  display: flex;
  justify-content: center;
  margin-left: 6px;
  color:grey;
  margin-top: 2px;
}

#imagePostContainer{
  display: flex;
  flex-direction: column;
}

#nameContainerInImagePost{
  display: flex;
  justify-content: baseline;
}

#image{
  border-radius: 10px;
}